.statistics {
  width: 500px;
  font-size: 16px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
  margin: 10px auto 10px auto;
}
.title {
  padding-bottom: 15px;
  padding-top: 15px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  text-align: center;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, max(100px));
}

.label {
  display: grid;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
}
.percentage {
  display: grid;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}
